<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" 
	href="{% static 'market/style.css' %}" />
  <title>{% block title %}Рестораны{% endblock %}</title>
</head>
<body>
  <div id="login_block" class="login-box">
    {% block login %}
    <table>
      {% if auth_list.login_form %}
      <form> 
      <tr> <td>
	  {% if auth_list.message %}
	    {{ auth_list.message }}
	  {% endif %}
	</td><td class="login-box">Имя: <input type="text" name=login 
					       size=10 value="">
	  Пароль: <input type="password" name=password size=15 value="">
	  <input type=submit value="OK">
	  </td></tr></form>
      {% else %}
      <tr><td></td><td class="login-box">Имя:  {{ auth_list.login }}
	  </td></tr>
      {% endif %}
      </table>
    {% endblock %}
  </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
