{% extends "market/base.html" %}
{% block content %}
<table>
{% if restaraunt %}
        <tr> 
        <td><a href="{% url 'menu' restaraunt.id %}">{{ restaraunt.name }}</a>
	</td>  
	</tr>
        <tr> 
        <td> {{ restaraunt.address }} 
	</td>  
	</tr>
        <tr> 
        <td><hr/>
	</td>  
	</tr>
{% else %}
    <tr><td><p>No such restaraunt is available.</p></td></tr>
{% endif %}
</table>
<table>
{% if menu_list %}
    
    {% for dish in menu_list %}
        <tr> 
        <td>{{ dish.name }}
	</td>  
	</tr>
        <tr> 
        <td> {{ dish.description }} 
	</td>  
	</tr>  
        <tr> 
	<td> Вес: </td>  
        <td> {{ dish.weight}} 
	</td>  
	<td> Цена: </td>  
        <td> {{ dish.price}} 
	</td> 
	<td>
	  <form  action="{% url 'menu'  restaraunt.id %}">
	    <input type="text" name=q size=2 value="1">
	    <input type="hidden" name="dish_id" value="{{ dish.id}}">
	    <button>В корзину</button>
	  </form>
	</td>
	</tr>  
        <tr>
        <td><hr/>
	</td>
	</tr>
    {% endfor %}
{% else %}
    <tr><td><p>This restraunt don't have meal.</p></td></tr>
{% endif %}
</table>
{% endblock %}
