<h1> Рестораны рядом</h1>
<hr><br/>
<form action="{% url 'index' %}">
Введите блюдо: <input type="text" name=q size=30 value=""><br/>
Введите адрес: <input type="text" name=g size=30 value=""><br/>
<p>
<button>Go!</button>
</form>
<p>
<table>
{% if restaraunts_list %}
    
    {% for restaraunt in restaraunts_list %}
        <tr> 
        <td><a href="{% url 'menu' restaraunt.id %}">{{ restaraunt.name }}</a>
	</td>  
	</tr>
        <tr> 
        <td> {{ restaraunt.address }} 
	</td>  
	</tr>
        <tr> 
        <td><hr/>
	</td>  
	</tr>
    {% endfor %}
{% else %}
    <tr><td><p>No restaraunts are available.</p></td></tr>
{% endif %}
</table>
