
div.login-box {
    float: right;
}

td.login-box {
    text-align: right;
    color: red;
    font-size: 80%;
}


li a {
    color: green;
}

body {
    background: white url("images/background.jpg") no-repeat right bottom;
}

style="border-color:#EAEAEA;border-width:4px;border-style:Solid;border-collapse:collapse;width:100%;border-collapse:initial;border-radius:8px;table-layout:fixed;"