
div.login-box {
    float: right;
}

td.login-box {
    text-align: right;
    color: red;
    font-size: 80%;
}


li a {
    color: green;
}

body {
    background: white url("images/background.jpg") no-repeat right bottom;
}

